
:root {
  --primary-color: #EF5D60;
  --secondary-color: #B1696A;
}
  
  .band-color{
    color: var(--primary-color);
  }
  .band-secondary{
    color: var(--secondary-color);
  }
  .band-bg{
    background-color: var(--primary-color);
  }
  .activeNav{
    color: black;
    font-size: 40px;
}
.text-slate-600{
  color: black;
}
.show-more{
  cursor: pointer;
}