
:root {
  --primary-color: #063970;
  --secondary-color: #074a92;
}
  
  .band-color{
    color: var(--primary-color);
  }
  .band-secondary, .band-bg-secondary{
    color: var(--secondary-color);
  }
  .band-bg{
    background-color: var(--primary-color);
  }
  .activeNav{
    color: black;
    font-size: 40px;
}
.text-slate-600{
  color: black;
}
.show-more{
  cursor: pointer;
}
.cheftalk-img{
  height: 30rem;
}
