.chefCard{
    height: 500px;
    /* width: 300px; */
    /* margin-bottom: 50px; */
}
.chefCard button{
    outline: none;
    border-radius: 10px;
    border: none;
    color: white;
    font-weight: 700;
}
.chefCard button:hover{
    background-color: var(--secondary-color);
}
.data-card{
    background-color: #0d427b0e;
    background-blend-mode: overlay;
    border: 1px solid var(--primary-color);
  }